<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title> Edit
        <%= fruit.name %>
    </title> <!-- Dynamic title based on fruit name -->

<body>
    <!-- update the header -->
    <h1>Edit <%= fruit.name %>
    </h1>

    <form action="/fruits/<%=fruit._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= fruit.name %>" />

        <div class="checkbox-div">
            <label for="isReadyToEat">Ready to Eat?</label>
            <input type="checkbox" name="isReadyToEat" <% if (fruit.isReadyToEat) { %>checked<% } %> >
        </div>

        <button type="submit">Update Fruit</button>
    </form>

    <a class="fruits-index-link" href="/fruits">
        <div class="index-link-text">Back to Fruits</div>
</body>